body {
    background-color: #111111;
}

.logo{
    text-align: center;
}

.about{
    text-align: center;
    background-color: grey;
    padding: 10px;
    display: block;
    margin: auto;
}

.claim{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: grey;
    padding: 10px;
    display: block;
    margin: auto;
    font-size: 12px; /* Add this line to reduce the font size */
}